[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/filesystem"]
	path = external/filesystem
	url = git@github.com:gulrak/filesystem.git
[submodule "external/toml"]
	path = external/toml
	url = git@github.com:ToruNiina/toml11.git
